In [1]:
# 在我的math的虚拟环境中运行

import glob
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel('excel//extract//data_imput//附件.xlsx')
data.head()

   文物编号 纹饰  类型  颜色 表面风化
0     2  A  铅钡  浅蓝   风化
1     8  C  铅钡   紫   风化
2    11  C  铅钡  浅蓝   风化
3    20  A  铅钡  浅蓝  无风化
4    23  A  铅钡  蓝绿   风化

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   文物编号    52 non-null     int64
 1   纹饰      52 non-null     object
 2   类型      52 non-null     object
 3   颜色      52 non-null     object
 4   表面风化    52 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.2+ KB

In [4]:
data.describe()

            文物编号
count  52.000000
mean   29.115385
std    16.864691
min     1.000000
25%    13.750000
50%    29.500000
75%    43.250000
max    57.000000

In [5]:
# 画图
# import os

# os.environ["KMP_DUPLICATE_LIB_OK"] = "TRUE"

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")

from plotly import tools, subplots
import plotly.graph_objs as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = "plotly_white"
import missingno as msno
from pandas_profiling import ProfileReport

In [6]:
from pandas_profiling import ProfileReport
profile = ProfileReport(data, title="Pandas Profiling Report")

profile.to_file('report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]